body { background-color:#cd5c5c;
}

#page{
 width: 1300px;
 margin: 0 auto 0 auto;
 background-color:#ffb6c1;
 }

#site_title {
 width: 500px;
 margin: 0 auto 0auto;
 }
#header {
    background-image: url("image/cake.2.jpg");
    background-position: center;
  width: 1300px;
 margin: 0 auto 0 auto;
}
 

#a-box{ float: left;
           width: 300px;
           font-size: 18px;}
h1{
color:#cd5c5c;
width:1300px;
height: 100px;
text-align: center;
font-weight: bold;
}

td{ border: inset 4px aliceblue;}
th{ background-color:#fffacd;}
th{ border: double 6px aliceblue;}

document{.src = 'img/change_ph02.jpg'; void(0);">




