body { background-color:#cd5c5c;
}
h1{
color:#ffffff;
width:1300px;
height: 100px;
text-align: center;
font-weight: bold;
border: double 6px aliceblue;
font-size:36pt;
}

h2{color:#ffc0cb;
  text-align: center;
font-size:22pt;}

h3{text-align: center;
font-size:15pt;}

p{text-align: center;}